<a href="https://colab.research.google.com/github/Nosa10/stageA-Hamoye/blob/main/stage_A.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [13]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

df = pd.read_csv("FoodBalanceSheets_E_Africa_NOFLAG.csv", encoding='latin-1')
df.to_csv("FoodBalanceSheets_E_Africa_NOFLAG.csv", index=False)
df.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [14]:
df.tail()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
60938,181,Zimbabwe,2899,Miscellaneous,5142,Food,1000 tonnes,42.00,46.00,33.00,19.00,16.00
60939,181,Zimbabwe,2899,Miscellaneous,645,Food supply quantity (kg/capita/yr),kg,3.06,3.33,2.35,1.33,1.08
60940,181,Zimbabwe,2899,Miscellaneous,664,Food supply (kcal/capita/day),kcal/capita/day,3.00,4.00,3.00,1.00,1.00
60941,181,Zimbabwe,2899,Miscellaneous,674,Protein supply quantity (g/capita/day),g/capita/day,0.10,0.11,0.08,0.04,0.04
60942,181,Zimbabwe,2899,Miscellaneous,684,Fat supply quantity (g/capita/day),g/capita/day,0.04,0.05,0.03,0.02,0.01

In [7]:
df.describe()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
count,60943.000000,60943.000000,60943.000000,59354.000000,59395.000000,59408.000000,59437.000000,59507.000000
mean,134.265576,2687.176706,3814.856456,134.196282,135.235966,136.555222,140.917765,143.758381
std,72.605709,146.055739,2212.007033,1567.663696,1603.403984,1640.007194,1671.862359,1710.782658
min,4.000000,2501.000000,511.000000,-1796.000000,-3161.000000,-3225.000000,-1582.000000,-3396.000000
25%,74.000000,2562.000000,684.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,136.000000,2630.000000,5142.000000,0.090000,0.080000,0.080000,0.100000,0.070000
75%,195.000000,2775.000000,5511.000000,8.340000,8.460000,8.430000,9.000000,9.000000
max,276.000000,2961.000000,5911.000000,176405.000000,181137.000000,185960.000000,190873.000000,195875.000000

In [41]:
stock = df[df['Element'] == 'Stock Variation'].groupby('Element')[['Y2014', 'Y2015','Y2016','Y2017','Y2018']].sum()
print(stock)

                    Y2014     Y2015     Y2016     Y2017     Y2018
Element
Stock Variation  58749.83  34910.99  33140.12  54316.91  20577.91

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60943 entries, 0 to 60942
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Area Code     60943 non-null  int64
 1   Area          60943 non-null  object
 2   Item Code     60943 non-null  int64
 3   Item          60943 non-null  object
 4   Element Code  60943 non-null  int64
 5   Element       60943 non-null  object
 6   Unit          60943 non-null  object
 7   Y2014         59354 non-null  float64
 8   Y2015         59395 non-null  float64
 9   Y2016         59408 non-null  float64
 10  Y2017         59437 non-null  float64
 11  Y2018         59507 non-null  float64
dtypes: float64(5), int64(3), object(4)
memory usage: 5.6+ MB

In [9]:
df.isna().sum()

Area Code          0
Area               0
Item Code          0
Item               0
Element Code       0
Element            0
Unit               0
Y2014           1589
Y2015           1548
Y2016           1535
Y2017           1506
Y2018           1436
dtype: int64

In [71]:
element_sum = df.groupby('Element')['Y2017'].sum()
print(element_sum['Processing'])

292836.0

In [45]:
areas = df[['Y2017', 'Area']].groupby('Area')['Y2017'].sum().sort_values()
print(areas)

Area
Sudan (former)                                        0.00
Ethiopia PDR                                          0.00
Comoros                                              59.84
Seychelles                                          442.34
Sao Tome and Principe                             12662.63
Cabo Verde                                        14650.74
Guinea-Bissau                                     19102.77
Lesotho                                           21267.96
Botswana                                          22101.30
Djibouti                                          22729.91
Gambia                                            23154.18
Gabon                                             27979.64
Liberia                                           29342.20
Namibia                                           29874.89
Central African Republic                          29937.00
Congo                                             41181.68
Togo                                              49841.88
Mauritius                                         51114.83
Eswatini                                          54343.33
Sierra Leone                                      55311.33
Chad                                              71594.68
Rwanda                                            73663.69
Zimbabwe                                          75919.34
Senegal                                           95681.15
Guinea                                            98138.87
Burkina Faso                                     101855.07
Zambia                                           103223.77
Tunisia                                          124167.20
Benin                                            124771.22
Niger                                            126707.58
Madagascar                                       131197.73
Mali                                             149928.33
Mauritania                                       156665.46
Mozambique                                       161407.98
Malawi                                           181098.71
Uganda                                           213950.38
CÃÂÃÂÃÂÃÂÃÂÃÂÃÂÃÂ´te d'Ivoire     224599.01
Angola                                           229159.57
Cameroon                                         232030.43
Sudan                                            239931.92
Kenya                                            264660.66
United Republic of Tanzania                      322616.85
Algeria                                          325644.27
Ghana                                            337599.06
Morocco                                          388495.36
Ethiopia                                         448683.76
South Africa                                     517590.54
Egypt                                            866379.92
Nigeria                                         1483268.23
Name: Y2017, dtype: float64

In [47]:
y = [(2, 4), (7, 8), (1, 5, 9)]
print(y[1][1])

8

In [65]:
S = [['him', 'sell'], [90, 28, 43]]

S[0][1][1]

'e'

In [49]:
df['Y2017'].describe().round(2)

count     59437.00
mean        140.92
std        1671.86
min       -1582.00
25%           0.00
50%           0.10
75%           9.00
max      190873.00
Name: Y2017, dtype: float64

In [28]:
protein_supply = df[(df['Area'] == 'Madagascar')&(df['Element']== 'Protein supply quantity (g/capita/day)')]['Y2015'].sum()
print(protein_supply)

173.04999999999998

In [33]:
import numpy as np
array  = np.array([[94, 89, 63],

             [93, 92, 48],

             [92, 94, 56]])
print(array[:1, 1:])

[[89 63]]

In [37]:
import pandas as pd
lst = [[35, 'Portugal', 94], [33, 'Argentina', 93], [30 , 'Brazil', 92]]
col = ['Age', 'Nationality', 'Overall']
df1 = pd.DataFrame(lst, columns=col, index=[1,2,3])
print(df1)

   Age Nationality  Overall
1   35    Portugal       94
2   33   Argentina       93
3   30      Brazil       92

In [53]:
print(df1.loc(:))

SyntaxError: invalid syntax (<ipython-input-53-d3128aa0b081>, line 1)

In [64]:
missing_2014= df['Y2014'].isnull().sum()
entries_2014 =df['Y2014'].shape[0]
percentage_missing = (missing_2014/entries_2014) * 100
print(missing_2014)
print(percentage_missing.round(3))

1589
2.607

In [55]:
my_tuppy = (1,2,5,8)

my_tuppy[2] = 6

TypeError: 'tuple' object does not support item assignment

In [57]:
plt.xcorr(df['Y2014', 'Element code'])

KeyError: ('Y2014', 'Element code')

In [62]:
year_2015 = df[(df['Item'] == 'Wine')]['Y2015'].sum()
year_2018 = df[(df['Item'] == 'Wine')]['Y2018'].sum()
print(year_2015)
year_2018

4251.8099999999995

4039.3199999999997

In [58]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60943 entries, 0 to 60942
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Area Code     60943 non-null  int64
 1   Area          60943 non-null  object
 2   Item Code     60943 non-null  int64
 3   Item          60943 non-null  object
 4   Element Code  60943 non-null  int64
 5   Element       60943 non-null  object
 6   Unit          60943 non-null  object
 7   Y2014         59354 non-null  float64
 8   Y2015         59395 non-null  float64
 9   Y2016         59408 non-null  float64
 10  Y2017         59437 non-null  float64
 11  Y2018         59507 non-null  float64
dtypes: float64(5), int64(3), object(4)
memory usage: 5.6+ MB